:root {
    --main-yellow: #f6d927;
    --main-red: #b72c22;
    --dark-bgc: #1d1d1d;
    --dark-overlay-color: #1d1d1db0;
    --main-text-color: #3b3b3b;
    --light-text-color: #fff;

    --header-font-family: 'Open Sans', sans-serif;
    --common-font-family: 'Open Sans', sans-serif;
    --footer-font-family: -apple-system, 'Open Sans', sans-serif;
    --common_font-size: 16px;
}