:root {
    --main-yellow: #f6d927;
    --main-red: #c71313;
    --main-text-color: #3b3b3b;

    --header-font-family: 'Open Sans', sans-serif;
    --common-font-family: 'Open Sans', sans-serif;
    --footer-font-family: -apple-system, 'Open Sans', sans-serif;
    --common_font-size: 16px;
}