<div class="main">
    <div class="main-top">
        <div class="main-first">
            {{ with .Params.motos }}
            <ul class="main__moto">
                {{ range . }}
                <li class="main__moto-item">{{ . }}</li>
                {{ end }}
            </ul>
            {{ end }}
            {{ with .Site.GetPage "/programs" }}
            <ul class="main__program">
            {{ range  .Pages.ByWeight  }}
                <li class="main__program-item">
                    <a href="#{{ .Params.id }}">{{ .Title }}</a>
                </li>
            {{ end }}
            </ul>
            {{ end }}
            {{ with .Params.certificate}}
            <div class="main__certificate">
                <div class="main__certificate-logo">
                    {{ .logo }}
                </div>
                <div class="main__certificate-text">{{ .text }}</div>
            </div>
            {{ end }}
        </div>
        <div class="main-second">
            <h1 class="main__title">{{ .Title }}</h1>
            {{ with .Params.links }}
            <ul class="main__links">
                {{ range .items }}
                <li class="main__links-item">
                <a href="#{{ index . 1 }}"> {{ index . 0 }}"</a>
                </li>
                {{ end }}
            </ul>
            {{ with .comment }}
            <div class="main__links-comment">{{ . }}</div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    <section class="main__content">
        {{ with .Params.announce }}
        <div class="main__announce">{{ . }}</div>
        {{ end }}
        {{ .Content }}
    </section>
</div>