<header class="header">
    <div class="width-wrapper">
        <div class="header-top">
            <div class="header-top__logo-moto">
                <div class="__logo">{{ .Site.Params.logoName }}</div>
                <div class="__moto">{{ .Site.Params.headerMoto }}</div>
            </div>
            <div class="header-top__lang">
                {{ partial "i18nlist" . }}
            </div>
            <div class="header-top__contacts">
                <div class="header-top__contacts-phone">
                    <a href="tel:{{ replace .Site.Params.phone " " "" }}">{{ .Site.Params.phone }}</a>
                </div>
                <div class="header-top__contacts-email">
                    <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom__logo-moto">
                <img 
                    class="header-bottom__logo"
                    src=""
                    alt="{{ .Site.Params.logoName }}"
                    width="120"
                    height="27"
                    >
                <div class="header-bottom__moto">{{ .Site.Params.headerMoto }}</div>
            </div>
            <div class="header-bottom__announce">
                {{ .Site.Params.headerAnnounce }}
            </div>
            <div class="header-bottom__nav-show" id="navShow">
                <button>☰</button>
            </div>
            {{/*  <div class="header-bottom__nav header-bottom__nav--open" id="navTop">  */}}
            <div class="header-bottom__nav" id="navTop">
                <div class="header-bottom__lang">
                    {{ partial "i18nlist" . }}
                </div>
                <div class="header-bottom__nav-hide" id="navHide">
                    <button>✕</button>
                </div>
                <nav class="header-bottom__menu top-menu">
                    <ul class="top-menu__list">
                        {{ range .Site.Menus.top }}
                        <li class="top-menu__item">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>    
    </div>
</header>