{{ define "main" }}
<main class="wrapper">
  {{ partial "main/main.html"  . }}
  {{ partial "main/programs.html"  . }}

  {{ partial "main/test.html" }}
  {{ partial "main/schedules.html" }}
  {{ partial "main/language-option.html" }}
  {{ partial "main/financial-option.html" }}

  {{ partial "main/events.html"  . }}
  
  {{ partial "main/our-team.html" }}
  {{ partial "main/achivements.html" }}
  {{ partial "main/certificates.html" }}
  {{ partial "main/job-opprtunities.html" }}
  {{ partial "main/top-companies.html" }}
  {{ partial "main/success-stories.html" }}
</main>
{{ end }}