.main {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .main-top {        
        padding: 1rem;
        background-color: var(--dark-bgc);
        color: var(--light-text-color);

        &__program {
            margin: 0 0 12px;
            padding: 0;
            list-style: none;

            &-item:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                display: block;
                padding: 10px 14px;
                color: inherit;
                text-decoration: none;
                text-align: center;
                border: 2px solid var(--light-text-color);
                border-radius: 100px;
            }
        }
    }
}