.main {
    .main-top {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2px;   
        // background-color: rgb(90, 169, 113);

        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: -1;
            display: block;
            line-height: 0;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @import 'main-first';
    @import 'main-second';
    @import 'main__content';    
}