*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  min-width: 360px;
  margin: 0;
  font-family: var(--common-font-family);
  font-size: var(--common_font-size);
  background-color: var(--body-bg-color);
  color: var(--main-text-color)
}