.header {
    position: relative;
    box-shadow: 0 0 6px #999;

    &__nav-toggler {
        position: absolute;
        right: 0;
        top: 0;

        padding: 1rem;

        button {
            display: block;
            appearance: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            line-height: 0;
        }
    }

    @import 'header-top';
    @import 'header-bottom';

    
}